@font-face {
  font-family: "MavenProRegular";
  src: url("../assets/fonts/MavenPro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
/*
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
} */

@keyframes spin {
  100% {
    /* -webkit-transform: rotate(360deg); */
    transform: rotate(360deg);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "MavenProRegular", "Arial", sans-serif;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

ul,
li {
  margin: 0;
  padding: 0;
}

header {
  background-color: #323232;
  display: flex;
  justify-content: center;
  height: 63px;
  position: relative;
}

header::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 26px solid #323232;
  position: absolute;
  left: 50%;
  top: 63px;
  transform: translateX(-50%);
}

h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.navigation {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
}

.menu__item {
  margin-top: 10px;
  display: flex;
}

.item__right {
  margin-right: 10px;
}

.item__left {
  margin-left: 10px;
}

.logo {
  display: flex;
  margin: 9px 38px 0;
}

.logo:hover {
  animation: spin 0.5s ease-out 0.1s;
}

.menu__link {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: bold;
  font-size: 10px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.menu__link:hover {
  color: #2eb398;
}

.menu__circle {
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background: gray;
}

.portfolio__section {

  margin: 0 auto;
  background: #ffffff;
}

.line__container {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.line {
  margin: 10px 0 0;
  border-bottom: 1px solid #e4e9eb;
  width: 410px;
}


.hexagon__container {
  margin-top: 65px;
}

.hex__row__outer {
  display: flex;
  justify-content: center;
}

.hex__row__outer::before {
  position: relative;
  content: "";
  border: 1px solid #e4e9eb;
  height: 104px;
  left: -11px;
  top: 64px;
}

.hex__row__outer::after {
  position: relative;
  content: "";
  border: 1px solid #e4e9eb;
  height: 104px;
  left: 11px;
  top: 64px;
}

.hex__row__inner {
  display: flex;
  justify-content: center;
  margin: -60px 0;
}


.hex {
  width: 182px;
  height: 209px;
  margin: 9px;
  transform: rotate(120deg);
  overflow: hidden;
  visibility: hidden;
}

.hex__inner__1 {
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  overflow: hidden;
  visibility: hidden;
}

.hex__inner__2 {
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  overflow: hidden;
  visibility: visible;
}


.hex__image {
  transform: translateX(-10%);
}

.slider__wrapper {
  margin-top: 56px;
  padding: 0 30px;
}

.slider__controls {
  display: flex;

  padding-bottom: 10px;
  border-bottom: 1px #e4e9eb solid;
  list-style-type: none;
}

.slider__button {
  display: flex;
  width: 6px;
  height: 6px;
  margin-right: 3px;
  background: #ddd2c5;
}

.slider__button:nth-child(3) {
  background: #8b8784;
}

.about__section {
  margin-top: 12px;
  background: #2eb398;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about__container {
  margin: 15px 100px 15px;
  width: 822px;
  border-left: 1px solid #219d84;
  border-right: 1px solid #219d84;
  display: flex;
  padding-left: 10px;
  padding-right: 20px;
  height: 311px;
}

.about__picture__wrapper {
  margin-top: 45px;
}

.about__picture {
  transform: translateX(-28%);
}

.about__textarea {
  margin-top: 45px;
  padding-left: 8px;
}

.about__textarea h2 {
  color: #d8fcf5;
  font-size: 30px;/* Approximation due to font substitution */
  font-weight: 400;
}

.about__textarea h3 {
  color: #1f816d;
  font-size: 18px;/* Approximation due to font substitution */
  font-weight: 400;
}

.about__textarea p {
  font-family: "Lato", sans-serif;
  color: #d7fcf5;
  font-size: 12px;/* Approximation due to font substitution */
  font-weight: 400;
  text-align: justify;
  line-height: 21px;
  margin-top: 15px;
}

.about__social {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 37px;
}

.about__social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #abddd7;
}

.about__social__item:hover {
  background: #7fd0c5;
}

a .fab,
a .fas {
  color: #04ac95;
  font-size: 12px;
}

.feedback__container {
  padding-top: 13px;
  background: #323232;
  color: #bebebe;
}

.feedback__container h2 {
  margin-top: 46px;
  color: #e0e0e0;
  font-size: 30px;
  font-weight: 400;
  text-align: justify;
}

.feedback__inner__wrapper {
  margin: 0 30px;
  padding: 0 90px 47px;
  border-top: 1px #2b2b2b solid;
  border-bottom: 1px #2b2b2b solid;
}

.feedback__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 11px;
  font-family: "Lato", sans-serif;
}

.feedback__just__another__wrapper {
  display: flex;
}

.feedback__form fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 580px;
}

.feedback__form__legend {
  font-size: 18px;
}

.feedback__form__field {
  display: block;
  height: 38px;
  width: 100%;
  background-color: #454545;
  color: white;
  border: none;
  margin: 16px auto 0;
  padding-left: 15px;
}

.feedback__form__textarea {
  height: 150px;
  padding-left: 15px;
  padding-top: 10px;
}

.feedback__form__legend + input {
  margin-top: 20px;
}

.feedback__form__field::placeholder {
  color: #bebebe;
  vertical-align: center;
}

.feedback__button__send {
  margin-top: 16px;
  width: 90px;
  height: 37px;
  background-color: #2eb398;
  border: none;
  text-transform: uppercase;
  align-self: flex-end;
  color: #d7fcf5;
}

.feedback__contacts {
  margin-top: 35px;
  padding-left: 20px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: #bebebe;
}

.feedback__contacts p {

  text-align: justify;
  line-height: 21px;
  hyphens: auto;
  word-spacing: normal;
}

.feedback__contacts strong {
  color: #e0e0e0;
  word-spacing: inherit;
  font-weight: 900;
}

.feedback__contacts__list {
  display: flex;
  list-style: none;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 30px;
}

.contact__list__item {
  margin-top: 9px;
  font-size: 12px;
}

.contact__list__item a {
  color: inherit;
  text-decoration: none;
}


.contact__list__item a:hover {
  color: #04ac95;
}

.contact__list__item > a i {
  /* display: inline-block; */
  margin-right: 13px;
}
